body {
  margin-top: 10px !important;
  background-color: white;
  color: black;
}

p#title {
  text-align: center;
  color: black;
}

ul#example {
  margin: 0;
}

ul#example > li > span {
  line-height: 60px !important;
}

ul#example > li > p {
  color: black;
}

ul#example > li.seperator {
  line-height: 60px;
}

p#title {
  font-size: 20px;
  margin: 0;
}

.days {
  font-size: 20px !important;
  margin: 0 !important;
}

.days_text {
  font-size: 16px !important;
  margin: 0 !important;
}

.hours {
  font-size: 20px !important;
  margin: 0 !important;
}

.hours_text {
  font-size: 16px !important;
}

.minutes {
  font-size: 20px !important;
  margin: 0 !important;
}

.minutes_text {
  font-size: 16px !important;
  margin: 0 !important;
}

.seconds {
  font-size: 20px !important;
  margin: 0 !important;
}

.seconds_text {
  font-size: 16px !important;
  margin: 0 !important;
}

.seperator, .seperator_text {
  font-size: 20px !important;
  margin: 0 !important;
}
